nav {
  /* background-color: #F7CB14; */
  background-color: #FFF;
  top: 0;
  position: sticky;
  height: 80px;
  border-top: 10px solid #F7CB14;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding: 0px 10px;
  box-sizing: border-box;
}

.navContent {
  max-width: 80%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 10px;
  height: 80px;
  align-items: center;
}

.brand {
  font-family: 'Bungee';
  color: black;
  letter-spacing: 2px;
  font-size: 24px;
  text-decoration: none;
  margin-top: 5px;
}

.brand:hover {
  text-decoration: none;
  color: black;
}

.mainNav {
  list-style-type: none;
  display: none;
}

.mainNav * {
  text-align: center;
  margin: 15px auto;
}

.navLink {
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}

.navLink:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.sidebarToggle {
  cursor: pointer; 
  color: black;
  font-size: 24px;
}

.show {
  display: block;
}

@media screen and (min-width: 768px) {
  .navContent {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .mainNav li {
    margin: 0;
  }

  .navLink {
    margin-left: 40px;
  }

  .brand {
    margin-top: 0;
  }

  .sidebarToggle {
      display: none;
  }
}