nav {
  width: 100vw;
  max-width: 100vw;
  height: 64px;
  max-height: 64px;
  background-color: #F7CB14;
  color: black;
}

.linksGroup {
  float: right;
  height: 100%;
  line-height: 64px;
}

.navLink {
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}

.navLink:hover, .navLink:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.brand {
  font-family: 'Bungee';
  height: 64px;
  line-height: 64px;
  color: black;
  letter-spacing: 2px;
  font-size: 24px;
  text-decoration: none;
}

.brand:hover, .brand:focus, .brand:active {
  color: black;
  cursor: pointer;
  text-decoration: none;
}