.welcomeMessage {
  margin: 1em 0em;
  padding: 1em 0;
}

.welcomeMessage h1 {
  font-size: calc(1.25em + 1vw);
  letter-spacing: 0;
  line-height: 1.25;
}

.welcomeMessage h3 {
  font-size: calc(1em + 0.5vw);
  line-height: 1.25;
}

.addBeerPrompt {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.addBeerPrompt:hover {
  cursor: pointer;
  text-decoration: underline;
}

.gridContainer {
  display: flex;
}

@media screen and (max-width: 768px) {
  .listsItem {
    display: none;
  }

  .beersItem {
    float: none;
  }
}