.dashboard {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 10px);
  width: 100vw;
  border-top: 10px solid #F7CB14;
}

.overlayShow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: all 0.75s;
}

.overlayHidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.75s;
}

.docked {
  margin-left: 250px;
}

.main {
  height: 100%;
}

.mainContent {
  padding: 1em 2em;
}