.listsContainer {
  margin-right: 2vw;
  width: 13vw;
}

.listsContainer > h2 {
  font-size: 1.5vw;
}

.listElement {
  font-size: 1em + 1vw;
  margin-bottom: 1vh;
}

.listElement:hover {
  font-size: 1em + 1vw;
  cursor: pointer;
  text-decoration: underline;
}

.newListButton {
  border: none;
  color: black;
  font-size: 2vmin;
  background-color: #F7CB14;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-bottom: 2vw;
}

.newListButton:hover, .newListButton:active, .newListButton:focus {
  background-color: #F7CB14;
  color: black;
  cursor: pointer;
  filter: brightness(105%);
}

@media only screen and (max-width: 768px) {
  .listsContainer {
    display: none;
  }
}