.listsContainer > h2 {
  font-size: 2.25vmin;
  margin: 10px 20px;
}

.listElement {
  font-size: 1em + 1vw;
  margin-bottom: 1vh;
}

.listElement:hover {
  font-size: 1em + 1vw;
  cursor: pointer;
  text-decoration: underline;
}

.listTitle {
  padding: 5px 20px;
}