.listsContainer > h2 {
  font-size: 2.25vmin;
  margin: 10px 20px;
}

.listTitle {
  padding: 5px 20px;
}

.sidebarItem {
  width: 100%;
  background-color: #fafafa;
  transition: all 0.4s;
}

.sidebarItem.active {
  filter: brightness(95%);
}

.sidebarItem:hover {
  cursor: pointer;
  filter: brightness(95%);
  transition: all 0.4s;
}