.welcomeMessage {
  margin-top: 1em;
  line-height: 1;
  padding: 1em 0;
}

.welcomeMessage h1 {
  font-size: 28px;
}

.welcomeMessage h3 {
  font-size: 20px;
}

.addBeerPrompt {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.addBeerPrompt:hover {
  cursor: pointer;
  text-decoration: underline;
}