.beerContainer {
  max-width: 100%;
  width: 100%;
  margin-bottom: 15vmin;
}

.listTitle {
  font-size: calc(1em + 1vw);
  letter-spacing: 0;
}

.deleteList:hover {
  cursor: pointer;
  text-decoration: underline;
}