.mainDash {
  width: 100%;
  margin-left: 250px;
}

.fullWidth {
  margin-left: 0;
}

.dashboardContent {
  padding: 1em 3em;
}

.dashHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}