.newSidebar {
  position: fixed;
  background-color: #ffffff;
  min-width: 250px;
  width: 250px;
  height: calc(100vh - 10px);
  max-height: 100vh;
  border-right: 1px solid #f1f1f1;
  z-index: 2;
}

.expanded {
  transform: translate3d(0, 0, 0);
  transition: transform 0.75s ease;
}

.mobile-expanded {
  transform: translate3d(0, 0, 0);
  transition: transform 0.75s ease;
}

.collapsed {
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.75s ease;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeIcon:hover {
  cursor: pointer;
}