form {
  width: 100%;
  max-width: 400px;
  margin: 2em auto;
  padding: 0;
}

label {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
}

label > input {
  width: 100%;
  font-size: 18px;
  line-height: inherit;
  margin: 0;
  font-family: inherit;
}