.userbar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #F1F1F1;
}

.userbarInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 15px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo > :first-child {
  margin-right: 10px;
}

/* Dropdown Styling */
.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px 0;
  background-color: #FAFAFA;
  border: 1px solid #f1f1f1;
  opacity: 1;
  right: 0;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}

.dropdown-hidden {
  position: absolute;
  width: 150px;
  height: 0px;
  opacity: 0;
  right: -500px;
}

.logout {
  width: 100%;
}

.logout:hover {
  cursor: pointer;
  background-color: #FAFAFA;
  filter: brightness(97%);
}

/* Icon Styles */
.cogIcon {
  cursor: pointer;
}

.menuIcon {
  margin-right: 15px;
}

.menuIcon:hover {
  cursor: pointer;
}