.entryContainer {
  margin-bottom: 1vw;
  font-size: 16px;
}

.beerEntry {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  align-items: center;
  height: 125px;
}

.entryData {
  grid-column: 1 / span 2;
  max-height: 75px;
}

.entryTitle {
  font-size: calc(1em + 0.75vw);
  line-height: 1.25;
  font-weight: bold;
}

.ratingContainer {
  grid-column: 3;
  grid-row: 1 / span 2;
  text-align: center;
  justify-self: end;
  background-color: #F7CB14;
  float: right;
  border-radius: 50%;
  margin-left: 5vw;
  width: 10vmin;
  height: 10vmin;
}

.notesTitle {
  font-weight: bold
}

.beerNotes {
  font-weight: normal;
}

.beerRating {
  text-align: center;
  align-items: center;
  line-height: 1;
  margin-top: 20%;
}

.ratingNumber {
  font-size: calc(1em + 1vmin);
  font-weight: bold;
  text-align: center;
}

.ratingLabel {
  font-size: 0.75em;
}

@media only screen and (max-width: 700px) {
  .notesContainer {
    display: none;
  }

  .ratingContainer {
    width: 75px;
    height: 75px;
  }

  .beerRating {
    min-height: 75px;
    height: 75px;
    width: 75px;
    line-height: 1.1;
  }
}

