.heroContainer {
  max-width: 75vw;
  padding-top: 20vh;
  margin: 0 auto;
}

.heroContainer > p {
  font-size: calc(1em + 0.75vmin);
  line-height: 1.5;
  width: 75%;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) { 
  .heroContainer > p {
    width: 100%;
  }
}

