.heroContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 25vh;
  color: white;
}

.button {
  background-color: #F7CB14;
  color: black;
  font-weight: bold;
  border: none;
}

.button:hover, .button:active {
  background-color: #F7CB14;
  color: black;
  filter: brightness(103%);
}

h1 {
  font-size: calc(1.75em + 1vw);
  margin-bottom: 18px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1px;
}

p {
  font-size: calc(1em + 0.75vmin);
  line-height: 1.5;
  width: 80%;
}

@media screen and (max-width: 768px) { 
  .heroContainer {
    padding-top: 20vh;
  }
  
  p {
    width: 100%;
  }
}

